section {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

article {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  width: 64px;
  height: 500px;
  border-radius: 36px;
  display: flex;
  align-items: flex-end;
  opacity: 0.9;
  transition: 0.5s;
}
h2 p {
  margin: 0;
}

article:active {
  width: 400px;
  opacity: 1;
}

article h2 {
  font-size: 24px;
  font-weight: 400;
  color: black;
}

article p {
  color: white;
}
article img {
  position: relative;
  z-index: 0;
  top: 50%;
  left: 50%;
  transition: -50 -50;
  height: 150%;
  filter: grayscale(0.5);
}
article:active .content {
  opacity: 1;
  visibility: visible;
}
article .content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 400px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 14px;
  background: linear-gradient(rgb(0 0 0 / 0%) rgb(0 0 0 / 80%));
  transition: 0.25s;
}
